name: Build Wheel using Hatch

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install virtualenv==20.17.1
          python -m pip install hatch hatch-uv

      - name: Build wheel with hatch
        run: |
          python -m pip install --upgrade build
          hatch build
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/*.whl
