name: Build Wheel using Hatch

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build --target hatch -t shell:hatch .
      - name: Build wheel with hatch
        run: docker run --rm --entrypoint hatch -v "${{ github.workspace }}:/app" shell:hatch build
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/*.whl
